@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Axiom";
    src: url('../assets/fonts/Axiom.otf');
}

@layer components {
    .right-shadow::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        box-shadow: 8px 0 10px -5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

html,
body,
#root,
.app {
    height:100%;
    width:100%;
    font-family: "Poppins", sans-serif;
}

.bg-login-image {
    background-image: url('../assets/images/bg-login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.active {
    background-color: #745228;
    color: white;
}