@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Axiom";
    src: url('/assets/fonts/Axiom.otf');
}

html, body, #__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: black;
}

.btn-light {
    @apply bg-light text-black px-6 py-2 rounded font-axiom shadow-md hover:shadow-lg active:shadow-inner hover:-translate-y-1 hover:bg-dark active:scale-100 hover:text-white hover:scale-110;
}

.header-transition {
    transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


